.mainContainer {
  display: flex;
  flex-direction: column;

  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  margin: 10px;
  padding: 20px;

  border: 5px solid #000;
  border-radius: 5px;
  background: #e0e5ec;

  justify-content: center;
  align-items: center;
}

.progressBars {
  width: 90%;
  height: 40%;
  margin-bottom: 30px;

  background: white;
}

.sentence {
  width: 75%;
}

#wrong {
  text-decoration: underline;

  color: red;
}

#right {
  color: #000;
}

#remaining {
  color: gray;
}

#currentText {
  text-decoration: underline;

  color: blue;
}

.myTyping {
  display: flex;

  width: 50%;

  justify-content: center;
  align-items: center;
}

.myTyping textarea#myTyping {
  font-size: 30px;

  width: 100%;
  margin: 20px 0 10px 0;
  padding: 10px;

  background: #e9ebec;
}

.counterContainer #restart {
  padding: 5px 20px;

  cursor: pointer;
  transition: 1.5s;
}

#restart i:active {
  display: inline-block;

  animation: spin-animation 1s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(359deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(359deg);
  }
}

.counterContainer #userInput {
  padding: 5px 20px;

  cursor: pointer;
  transition: 1.5s;
}

#userInput i:active {
  display: inline-block;

  animation: up-down-animation 0.5s ease-in-out;
}

@keyframes up-down-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

#again {
  display: none;
}

.endDisplay {
  display: none;

  margin: 20px;
  padding: 30px 100px;

  border: 1px solid;
  text-align: center;
}

.svg {
  position: absolute;

  width: 40%;
  height: 40%;

  pointer-events: none;
}

@media (max-width: 1000px) {
  .myTyping textarea#myTyping {
    width: 60%;
  }
}
@media (max-width: 780px) {
  .sentence {
    width: 90%;
  }

  .sentence h1 {
    font-size: 20px;

    position: relative;

    padding: 10px;

    text-align: center;

    color: #353535;
  }

  .myTyping {
    width: 80%;
  }

  .myTyping textarea#myTyping {
    font-size: 15px;

    width: 100%;
    padding: 5px;
  }

  .counterContainer .buttonContainer {
    padding: 10px 0 0 0;
  }

  #restart {
    margin: 20px;
  }

  .endDisplay {
    padding: 20px 10px;
  }

  .endDisplay h1 {
    font-size: 20px;
  }

  .endDisplay p {
    padding: 10px 0;
  }
}
